h1= "! Battle Sums !"

div#user
  p enter username to begin
  input#user

div#users
  p click to !battle! a user:
  ul

div#request

div#calc_box
  div#left
  div#operation
  div#right
  div#equals =
  input#answer

div.right
div.wrong

div.battle_zone
  div#battler
  div#battler_1
  div#battler_line_1
  div#battler_2
  div#battler_line_2

div#player_1_score
div#player_2_score

div#result


