h1= "! Battle Sums !"

div#calc_box
  div#left
  div#operation
  div#right
  div#equals =
  input#answer 

div.right
div.wrong

script
  var socket = io.connect();
  socket.on('setup', function (data) {
    console.log(data.first);
  });