h1= "! Battle Sums !"

div#user
  p enter username to begin
  input#user

div#users
  p click to !battle! a user:
  ul

div#request

div#calc_box
  div#left
  div#operation
  div#right
  div#equals =
  input#answer

div.right
div.wrong

script
  var socket = io.connect();
  var first, second, operator, answers;
  var your_user;
  var count = 0;
  var correct = 0;
  var wrong = 0;

  function updateContent(){
    $("#request").hide();
    $("#users").hide();
    $("#calc_box").show();
    $("#left").html(first[count]);
    $("#operation").html(operator[count]);
    $("#right").html(second[count]);
    $("input#answer").val('');
  }

  socket.on('setup', function(data) {
    first = data.first;
    second = data.second;
    operator = data.operator;
    answers = data.answers
    updateContent();
  });

  socket.on('users', function (users) {
    $('#users ul').empty();
    users.users.splice(users.users.indexOf(your_user), 1);
    for (var i in users.users) {
      $('#users ul').append($('<li>')
      .attr('id', users.users[i])
      .attr('class', "online_users")
      .text(users.users[i]));
    }
  });

  socket.on('request_battle', function(data) {
    $("#request").append($("<p>")
    .text(data.requester + " wants to do battle"))
    .append($("<span>")
    .attr('id', data.requester)
    .attr("class", "accept")
    .text("accept?"));
  });

  function join(){
    $("#user").hide();
    $("#users").show();
    socket.emit('users');
  };

  $("#user").bind('keypress', function(e){
    if(e.keyCode == 13){
      your_user = $("input#user").val();
      socket.emit('user', your_user, function(success){
        if(success){
          join();
        } else {
          $("#user").prepend($('<p>')
          .text('Sorry the username is already taken'));
          $("input#user").val('');
        }
      });
    }
  });

  $("li.online_users").live("click" , function(){
    socket.emit('battle_user', $(this).attr("id"), function(success){
      if(success){
        $("#request").append($("<p>")
        .text("Your request has been sent!"));
      } else {
        $("#users").prepend($('<p>')
        .text("Sorry user unavailable"));
      }
    });
  });

  $(".accept").live("click", function(){
    socket.emit('begin_battle', $(this).attr("id"), function(success){
      if(success){

      } else {

      }
    });
  });

  function check_answer(){
    var a = $("input#answer").val();
    if(a == answers[count]){
      correct++;
    } else{
      wrong++;
    }
    count++;
    updateContent();
  }

  $("#calc_box input").bind("keypress", function(e){
    if(e.keyCode == 13){
      console.log(count);
      console.log(correct);
      console.log(wrong);
      if(count == 9){
        socket.emit('battle_over', {correct: correct, wrong: wrong})
      } else{
        check_answer();
      }
    }
  });


