body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 960px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

#calc_box{
  display: none;
  width: 725px;
  height: 145px;
  border: 2px solid #000;
  padding: 20px;
}
#left{
  float: left;
  font-size: 120px;
}
#operation{
  float: left;
  font-size: 120px;
}
#right{
  float: left;
  font-size: 120px;
}
#equals{
  float: left;
  font-size: 120px;
}
#answer{
  height: 140px;
  font-size: 97px;
  width: 240px;
  position: relative;
  top: -3px;
  left: 20px;
}
div.right {
  background: url("../images/tick_cross.jpg") 0 0;
  background-repeat: no-repeat;
  width: 242px;
  height: 400px;
  position: relative;
  top: -200px;
  left: 700px;
  display: none;
}
div.wrong {
  background: url("../images/tick_cross.jpg") -250px 0;
  background-repeat: no-repeat;
  width: 242px;
  height: 400px;
  position: relative;
  top: -270px;
  left: 700px;
  display: none;
}

div#users {
  display: none;
}

div#users li {
  list-style-type: none;
  border: 1px solid #000;
  background: #ddd;
  color: red;
  width: 140px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

span.accept{
  background: green;
  border: 1px solid #000;
}

#battler_1{
  width: 50px;
  height: 50px;
  background: red;
  position: relative;
  top: 27px;
  left: 0px;
}

#battler_2{
  width: 50px;
  height: 50px;
  background: green;
  position: relative;
  top: 38px;
  left: 0px;
  color: #fff;
  float: left;
}

#battler_line_1{
  width: 100%;
  border-bottom: 5px solid #000;
} 

#battler_line_2{
  width: 100%;
  border-bottom: 5px solid #000;
  position: relative;
  top: 60px;
}

.battle_zone{
  display: none;
}

#abandon_battle{
  border: 1px solid #000;
  background: red;
  color: black;
  width: 140px;
  padding: 5px 10px;
  margin-bottom: 10px;  
  position: absolute;
  top: 70px;
  left: 430px;
}

#new_game{
  border: 1px solid #000;
  background: green;
  color: black;
  width: 40px;
  padding: 5px 10px;
  margin-bottom: 10px;  
  position: absolute;
  top: 70px;
  left: 430px;
  display: none;
}

div.clear{
  clear: both;
}

#player_2_score{
  margin-top: 40px;
  float: left;
  border-right: 2px solid #000;
  width: 200px;
}

#result{
  margin: 40px 0 0 88px;
  float: left;
}